@import "tailwindcss";

@theme {
    --color-background: #0d1117;
    --color-foreground: #ededed;
    --color-card: #161b22;
    --color-card-border: #30363d;
    --color-primary: #238636;
    --color-primary-hover: #2ea043;
}

body {
    color: var(--color-foreground);
    background: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;

}